<!doctype html>
<html>
	{{ template "header.html" .}}

	<body class="container">
		<!--Embed the menu.html template at this location-->
		{{ template "menu.html" . }}

		{{range .payload}}
			<a href="/book/{{.ID}}">
				<h2>{{.Title}}</h2>
			</a>
			<p>by {{.Author}}</p>
			<a href="/book/{{.ID}}/edit"><button class="btn btn-warning btn-sm">编辑</button></a>&nbsp;&nbsp;<a href="/delete/{{.ID}}"><button class="btn btn-danger btn-sm">删除</button></a>
		{{end}}

		<br/>
		{{ template "footer.html" .}}
	</body>
</html>